  <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-light text-black">
<div class="container text-center">
  <small>Copyright &copy; <%= link_to "Susmi","https://in.linkedin.com/in/susmi-elsa-joy-731197211",class:"text-black" %></small>
</div>
</footer>